* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.Header_Container {
  width: 100%;
  height: 100px;
  margin: auto;
  position: fixed;
  padding: 0px 50px;
}
.Header_Title > .Logo {
  height: 150px;
  width: auto;
  display: block;
  padding-top: 20px;
  margin: auto;
}
.Hero_Container {
  height: 100vh;
  padding: 0px;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}
.bg-video {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/bg-hero.jpg");
  background-size: cover;
  transform: scale(1.12);
  background-position: center;
}
.bg-video::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.733); 
  backdrop-filter: blur(2px);
}
.Modal {
  height: 65vh;
  width: 70%;
  display: block;
  margin: auto;
  position: relative;
  top: 0px;
  border-radius: 20px;
  transition: all linear 0.2s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.Card {
  color: rgb(0, 0, 0);
  height: 280px;
  width: 240px;
  transition: all ease-in 0.2s;
  background: rgb(255, 255, 255);
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.imgMap {
  height: 230px;
  display: block;
  width: 235px;
}
.Card > h2 {
  padding: 10px;
}
.Card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.heading{
  font-size: 60px;
}
h3{
color: rgb(255, 255, 255);
font-family: "Nunito Sans", sans-serif;
top: 120px;
margin: 50px;
text-align: center;
position: relative;
font-size: 35px;
font-weight: 700;
}
p{
  color: white;
  text-align: center;
}
.BtnGo{
  position: relative;
  padding: 15px 30px;
  top: -50px;
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.BtnGo:hover{
  background-color: whitesmoke;
  transform: scale(1.02);
}
.footer {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  position: relative;
  top: -50px;
  font-size: 14px;
  color: #bfbfbf;
  letter-spacing: 0.5px;
}
.footer p {
  margin: 0;
}
